
<!DOCTYPE html>
{% include "base.html" %}
<html lang="ru">
<head>
  <title>Bootstrap Example</title>

</head>
<body>
<div class="container-fluid  ">
	<div class="page-header"><h1>Статьи</h1></div>
{% if user.count > 0 %}
	{% for u in user %}
	{% for s in st %}
	{% if u.id == s.login_id %}

	<div class="media container-fluid page-header " >
		<div class="media-left">
			
			
		</div>
	<div class="media-body">
		<h3 class="media-heading">{{ s.name }} <small><i> от {{ s.date }}</i></small></h3>
		<p class="">{{ s.text }}</p>
		<h2 class="media-heading"><small>Написал {{ u.name }}</small></h2>
	</div>

	</div> 
	{% endif %}
	{% endfor %}
	{% endfor %}
{% else %}
	<div>
		<h1>Пусто</h1>
	</div>
{% endif %}
</div>


</body>
</html>