
<!DOCTYPE html>
{% extends "base.html" %}
<html lang="ru">
<head>
  {% block title %}Bootstrap Example{% endblock title %}

</head>
<h3 >




{% block content %}
	<div class="page-header container-fluid"><h1>Статьи</h1></div>
{% if st.count > 0 %}
	{% for u in user %}
	{% for s in st %}
	{% if u.id == s.Логин_id %}

	<div class="media container-fluid page-header " >
		<div class="media-left">
			
			
		</div>
	<div class="media-body ">

		<h3 class="media-heading ">{{ s.Название }} <small><i> от {{ s.Дата }}</i></small></h3>
		<p class="">{{ s.Информация }}</p>
		<h2 class="media-heading"><small>Написал {{ u.Имя }}</small></h2>
	</div>

	</div> 
	{% endif %}
	{% endfor %}
	{% endfor %}
{% else %}
	<div class="container-fluid "><span><big>Пусто</big></span></div>

{% endif %}




{% endblock content %}
{% block footer %}
{{ block.super }}
{% endblock footer %}
</body>
</html>