
<!DOCTYPE html>
{% extends "base.html" %}
<html lang="ru">
<head>
  {% block title %}Bootstrap Example{% endblock title %}

</head>
<body >




{% block content %}
	<div class="page-header container-fluid"><h1>Статьи</h1></div>
{% if s.count > 0 %}
	{% for u in user %}
	{% for s in st %}
	{% if u.id == s.login_id %}

	<div class="media container-fluid page-header " >
		<div class="media-left">
			
			
		</div>
	<div class="media-body">
		<h3 class="media-heading">{{ s.name }} <small><i> от {{ s.date }}</i></small></h3>
		<p class="">{{ s.text }}</p>
		<h2 class="media-heading"><small>Написал {{ u.name }}</small></h2>
	</div>

	</div> 
	{% endif %}
	{% endfor %}
	{% endfor %}
{% else %}
	<div class="container-fluid "><span><big>Пусто</big></span></div>

{% endif %}




{% endblock content %}
{% block footer %}
{{ block.super }}
{% endblock footer %}
</body>
</html>