
<!DOCTYPE html>
{% include "base.html" %}
<html lang="ru">
<head>
    <title>Инфа</title>
</head>
<body >
<div class="container">
    <div class="col-xs-6" >{% if user.count > 0 %}
        {% for u in user %}
        <h1>{{ u.login }}</h1>
            {% if prod.count > 0 %}
                {% for p in prod %}
                    {% if p.user_id == u.id %}
                    <table>
                       <tr> <th>{{ p.price }}</th>
                       <td><a href="delete/{{p.id}}">Удалить</a></td>
                       </tr>
                    </table>
                    {% endif %}
                {% endfor %}
            {% else %}
                <h3>None</h3>
            {% endif %}
        <a href="addprod/{{u.id}}">Добавить продукт</a>
        {% endfor %}
    {% else %}
    <h1>Добавить пользователя</h1>
    <form  method="POST" action="create/">
        {% csrf_token %}
        <input type="text" name="login">
        <input type="number" name="password">
        <input type="submit" value="Создать">
    </form>
    {% endif %}
    </div>
</div>
</body>
</html>